// import styles
// @require './_*.styl'
ul
  list-style-type: none

body
  background-color: #d4d4d4
  margin: 0px!important;

.app-wrapper
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  // max-width: 80%
  justify-content: center;

.menu
  width auto
  background-color: white
  // min-width: 35%
  // width: 100%
  .list-of-fishes
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  .top
    display: flex;
    justify-content: center;
    text-align: center;
    a
      text-decoration: none;
      color: inherit;

.order-wrapper
  background-color: white
  min-width: 400px

.order h2
    margin-left: auto;
    margin-right: auto;

.inventory-wrap
  //asdas

.fish-edit
  margin-left: auto;
  margin-right: auto;
  max-width: 358px
  margin-bottom: 20px;
  border: 1px solid #000;
  overflow: hidden;
  textarea
    width: 100%
